.comments-carousel {
  width: 100%;
  margin: auto;
  position: relative;
  background: url(https://images.pexels.com/photos/2788792/pexels-photo-2788792.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) center center no-repeat;
  background-size: cover;
  
}

.comments-carousel::before {
  content: "";
  background-color: rgba(12, 11, 10, 0.8);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.comments-carousel .carousel-item img {
  object-fit: cover;
  height: 500px;
}

.comment-container {
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-avatar {
  width: 8rem !important;
  height: 8rem !important;
  border-radius: 50%;
}

.comment-text {
  font-size: 1.2rem;
  text-align: center;
  margin-left: 20px;
  color: aliceblue;
  text-shadow: 1px;
}